.Note--Editor [contentEditable] {
  outline: none;
  padding: 0.5rem;
  cursor: text;
}

.Note--Editor .title:empty::before {
  color: #444;
  font-style: italic;
  content: 'Title';
}

.Note--Editor .title {
  border-bottom: 1px solid #888;
  margin: 0 0.5rem;
}

.Note--Editor .content:empty::before {
  color: #444;
  font-style: italic;
  content: 'Add your note';
}

.Note--Editor .content {
  margin: 0.5rem;
}
