.Note--Editor [contentEditable] {
  outline: none;
  padding: 0.5rem;
  cursor: text;
}

.Note--Editor .title:empty::before {
  color: #9e9e9e;
  content: 'Title';
}

.Note--Editor .content:empty::before {
  color: #9e9e9e;
  content: 'Add your note';
}

.Note--Editor img {
  align-self: center;
  max-width: 100%;
}

.Note--Editor img[src=''] {
  display: none;
}
